@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  user-select: none;
}

body{
    background-color: #00695c;
    color: #fff;
}
